@font-face {
    font-family: 'profontwindowsregular';
    src: url('pfw-webfont.woff2') format('woff2'),
         url('pfw-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixeloperator';
    src: url('pixel_operator/PixelOperator-Bold.ttf');
}