#canvas {
    padding: 0;
    margin: 0;
    touch-action: none;
}

#t1 {
    position: absolute;
    z-index: 1000;
    float: inline-start;
    backdrop-filter: blur(10px);
}

#t2 {
    position: absolute;
    z-index: 1000;
    float: right;
    right: 10px;
    backdrop-filter: blur(10px);
}